[submodule "Engine/Source/ThirdParty/imgui"]
	path = Engine/Source/ThirdParty/imgui
	url = https://github.com/ocornut/imgui.git
	branch = docking
[submodule "Engine/Source/ThirdParty/Vulkan-Hpp"]
	path = Engine/Source/ThirdParty/Vulkan-Hpp
	url = https://github.com/KhronosGroup/Vulkan-Hpp.git
