
# Ignore intermediate folders
/Binaries/
/BuildOutput/
/Cache/
/.vscode/

# Ignore third-party dependencies
/ThirdParty/

# Ignore CMake's cache and temporary files
/CMakeCache.txt
/CMakeFiles/
/Makefile


# Ignore temporary files
*.log
*.bak
*.tmp

# Ignore OS files (Windows, macOS, etc.)
.DS_Store
Thumbs.db

# Ignore IDEs files
*.user
*.suo
*.userosscache